language: node_js
node_js:
- 6.9.5
install:
- "./scripts/ci/install.sh"
- "./scripts/ci/deploy.sh"
before_install:
- openssl aes-256-cbc -K $encrypted_8cc8bf7fd0cc_key -iv $encrypted_8cc8bf7fd0cc_iv
  -in deploy_key.enc -out deploy_key -d
- chmod +x ./scripts/ci/install.sh
- chmod +x ./scripts/ci/deploy.sh
